##################################################################################
### VENDOR_EDIT, OPPO All rights reserved.
###
### File: - init.oppo.diag.rc
### Author: Canjie.Zheng@Swdp.Android.OppoDebug.LogKit
###
### ------------------------------- Revision History: ----------------------------
### <author>                        <data>       <version>   <desc>
### ------------------------------------------------------------------------------
###   2016-03-18               Create this file
##################################################################################

on property:persist.sys.adddevdiag=1
    write /sys/devices/virtual/diag/diag/uevent add
on property:persist.sys.adddevdiag=0
    write /sys/devices/virtual/diag/diag/uevent remove
#ifdef VENDOR_EDIT
#Junhao.Liang@PSW.AD.OppoDebug.LogKit.1080426, 2018/12/04, Add for set persist.vendor.ssr.enable_ramdumps
on property:persist.vendor.enable_ramdumps=0
    setprop persist.vendor.ssr.enable_ramdumps 0
on property:persist.vendor.enable_ramdumps=1
    setprop persist.vendor.ssr.enable_ramdumps 1
#endif /*COLOROS_EDIT*/
