# Copyright (c) 2013-2014, 2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

import init.carrier.rc

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules audio_apr audio_adsp_loader audio_q6_notifier audio_q6 audio_usf audio_native audio_pinctrl_wcd audio_swr audio_aw87329_audio audio_platform audio_swr_ctrl audio_hdmi audio_wcd9xxx audio_wcd_core audio_wsa881x_analog audio_wsa881x audio_mbhc audio_stub audio_digital_cdc audio_analog_cdc audio_wcd_cpe audio_cpe_lsm audio_wcd9335 audio_machine_sdm450 audio_machine_ext_sdm450
    mkdir /system 0777 root root
    symlink /data/tombstones /tombstones

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    mount_all /vendor/etc/fstab.qcom
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    mkdir /mnt/vendor/persist/stability 0755 system system
    mkdir /mnt/vendor/persist/bms 0700 root system
    restorecon_recursive /mnt/vendor/persist

    write /proc/sys/vm/swappiness 100
    #write /sys/kernel/boot_adsp/boot 1
#    wait /dev/block/bootdevice/by-name/oem
#    mount ext4 /dev/block/bootdevice/by-name/oem /oem ro nosuid nodev barrier=1

on post-fs
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    start vendor.qseecomd
    exec - system system -- /vendor/bin/init.qti.qseecomd.sh
    write /dev/ipa 1
    insmod /vendor/lib/modules/exfat.ko

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    #mkdir /data/vendor/hbtp 0750 system system
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system


#Create folder for mm-qcamera-daemon
    mkdir /data/vendor/camera 0770 camera camera
    mkdir /data/vendor/charge_logger 0771 system system
    mkdir /data/vendor/mac_addr 0771 system system

#start camera server as daemon
service qcamerasvr /system/vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

on init
   write /dev/stune/top-app/schedtune.colocate 1
   write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

service qfp-daemon /system/vendor/bin/qfp-daemon
   class late_start
   user system
   group system drmrpc

# Allow usb charging to be disabled peristently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
    write /sys/class/power_supply/battery/charging_enabled 1

service qrngd /system/bin/qrngd -f
   class main
   user root
   group root

#add charge_logger
service chargelogger vendor/bin/charge_logger
   class core
   user root
   group root system wakelock
   oneshot

service qrngp /system/bin/qrngp -f
   class main
   user root
   group root
   oneshot
   disabled

on property:sys.boot_completed=1
   chown bluetooth bluetooth /persist/bluetooth/.bt_nv.bin
   chmod 0771 /persist/bluetooth/.bt_nv.bin
   chmod 0666 /data/vendor/charge_logger/charge_logger_a.csv
   chmod 0666 /data/vendor/charge_logger/charge_logger_b.csv
   start qrngp
   

service vendor.qseecomd /vendor/bin/qseecomd
   class core
   user root
   group root

# add PcbaConfigSet
service PcbaConfigSet /system/vendor/bin/PcbaConfigSet
    class core
    oneshot

#service aostlmd /system/bin/aostlmd
#   class late_start
#   user system
#   group system net_raw

#service mpdecision /system/bin/mpdecision --avg_comp
#   user root
#   disabled

service perfd /system/vendor/bin/perfd
   class main
   user root
   disabled

service gamed /system/vendor/bin/gamed
   class main
   user system
   group system
   disabled
   socket gamed seqpacket 0640 system system

service thermal-engine /system/vendor/bin/thermal-engine
   class main
   user root
   chmod 0664 /sys/class/thermal/thermal_message/sconfig
   chown system system /sys/class/thermal/thermal_message/sconfig
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   socket thermal-send-rule stream 0660 system system
   group root

service time_daemon /system/vendor/bin/time_daemon
   class late_start
   user root
   group root

service audiod /system/vendor/bin/audiod
   class late_start
   user system
   group system

on boot
    start rmt_storage
    insmod /system/lib/modules/adsprpc.ko
# access permission for secure touch
    chmod 0660 /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch_enable
    chmod 0440 /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch
    chmod 0660 /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch_enable
    chmod 0440 /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch
    chown system drmrpc /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch_enable
    chown system drmrpc /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch
    chown system drmrpc /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch_enable
    chown system drmrpc /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch
    #chown system system /sys/kernel/hbtp/display_pwr

 # Add a cpuset for the camera daemon
 # We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

####Regionalization config and prop files####
    chmod 0644 /persist/speccfg/spec
    chmod 0644 /persist/speccfg/devicetype
    chmod 0644 /persist/speccfg/mbnversion
    chmod 0644 /persist/speccfg/.not_triggered
    chmod 0644 /persist/speccfg/vendor_ro.prop
    chmod 0644 /persist/speccfg/vendor_persist.prop
    chmod 0644 /persist/speccfg/submask
    chmod 0644 /persist/speccfg/partition
    chown system system /persist/speccfg/spec
    chown system system /persist/speccfg/devicetype
    chown system system /persist/speccfg/mbnversion
    chown system system /persist/speccfg/.not_triggered
    chown system system /persist/speccfg/vendor_ro.prop
    chown system system /persist/speccfg/vendor_persist.prop
    chown system system /persist/speccfg/submask
    chown system system /persist/speccfg/partition

# access permission for wlan
    chown system system /mnt/vendor/persist/WCNSS_qcom_wlan_nv.bin

#USB controller configuration
    write /sys/module/g_android/parameters/mtp_tx_req_len 131072
    write /sys/module/g_android/parameters/mtp_rx_req_len 131072
    setprop vendor.usb.rndis.func.name "rndis"
    setprop vendor.usb.rmnet.func.name "rmnet_bam"
    setprop vendor.usb.rmnet.inst.name "rmnet_bam_dmux"
    setprop vendor.usb.dpl.inst.name "dpl_bam_dmux"

service ppd /system/vendor/bin/mm-pp-dpps
    class late_start
    disabled
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

service wcnss-service /system/vendor/bin/wcnss_service
    class main
    user system
    group system wifi radio
    oneshot

on charger
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    load_all_props
    setprop persist.sys.usb.config mass_storage
    start qcom-post-boot
    setprop persist.sys.usb.config mass_storage
    start vendor.hvdcp_opti
    start vendor.vm_bms

on charger && property:ro.boot.usbconfigfs=true
    setprop sys.usb.configfs 1

on charger && property:ro.boot.usbconfigfs=false
    setprop sys.usb.configfs 0

service imsstarter /vendor/bin/init.qti.ims.sh
    class main
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start imsstarter

## imsqmidaemon starts with root and UID will be downgraded to SYSTEM.
service vendor.imsqmidaemon /system/vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag
    disabled

on property:vendor.service.qti.ims.enabled=1
    start vendor.imsqmidaemon

# imsdatadaemon starts with root and UID will be downgraded to SYSTEM.
service vendor.imsdatadaemon /system/vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    disabled

on property:vendor.ims.QMI_DAEMON_STATUS=1
    start vendor.imsdatadaemon

service vendor.ims_rtp_daemon /system/vendor/bin/ims_rtp_daemon
   class main
   user system
   group radio diag inet log

service vendor.imsrcsservice /system/vendor/bin/imsrcsd
   class main
   user system
   group radio diag inet log wakelock

on property:vendor.ims.DATA_DAEMON_STATUS=1
    restart vendor.ims_rtp_daemon

#service hbtp /system/vendor/bin/hbtp_daemon
#    class main
#    user system
#    group system
#    disabled

service dts_configurator /system/vendor/bin/dts_configurator
    class late_start
    user system
    group media audio
    oneshot

service dtseagleservice /system/vendor/bin/dts_eagle_service
    class late_start
    user system
    group audio media
    disabled

service adsprpcd /system/vendor/bin/adsprpcd
    class main
    user media
    group media

on property:init.svc.dts_configurator=stopped
    start dtseagleservice

service vendor.per_mgr /system/vendor/bin/pm-service
    class core
    user system
    group system net_raw

service vendor.per_proxy /system/vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy
    stop vendor.ims_rtp_daemon

service vendor.hvdcp_opti /vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock

service vendor.vm_bms  /vendor/bin/vm_bms
    class main
    user root
    group system wakelock

service mdtpd /system/vendor/bin/mdtpd
    class late_start
    user root
    group system radio drmrpc

on boot
    mkdir /dev/cpuset/top-app/boost
    write /dev/cpuset/top-app/boost/mems 0


    write /dev/cpuset/foreground/cpus 0-2,4-7
    write /dev/cpuset/foreground/boost/cpus 4-7
    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-2
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/top-app/boost/cpus 4-7

    chown system system /dev/cpuset/top-app/boost
    chown system system /dev/cpuset/top-app/boost/tasks

    chmod 0664 /dev/cpuset/top-app/boost/tasks

    write /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/fw_name PR1702898-s3528t_00260005_00380008.img
    write /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/update_fw 1
    #add by yangqiping for ignoring modem crash 
    write /sys/bus/msm_subsys/devices/subsys4/restart_level related

on boot
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/red/breath
    chown system system /sys/class/leds/red/delay_on
    chown system system /sys/class/leds/red/delay_off
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/green/breath
    chown system system /sys/class/leds/green/delay_on
    chown system system /sys/class/leds/green/delay_off
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/blue/breath
    chown system system /sys/class/leds/blue/delay_on
    chown system system /sys/class/leds/blue/delay_off
    chown system system /sys/class/leds/flashlight/brightness
    chmod 0777 /sys/class/leds/flashlight/brightness
    #add by yanzewen for MiRunin test
    chown system system /data/local/tmp
    chmod 0777 /data/local/tmp
    chmod 0777 /sys/class/power_supply/battery/input_suspend
    #add by yanzewen for gsort read/write the file:/dev/block/bootdevice/by-name/misc
    chmod 0777 /dev/block/mmcblk0p30
    #Ignore wcnss crash, WCN SSR enable
    write /sys/bus/msm_subsys/devices/subsys3/restart_level related

service gsensortest /system/vendor/bin/sensors_test g
    user root
    oneshot
    disabled

on property:sys.gsensortest=1
    start gsensortest

service rsensortest /system/vendor/bin/sensors_test r
    user root
    oneshot
    disabled

on property:sys.rsensortest=1
    start rsensortest

service msensortest /system/vendor/bin/sensors_test m
    user root
    oneshot
    disabled

on property:sys.msensortest=1
    start msensortest

service lsensortest /system/vendor/bin/sensors_test l
    user root
    oneshot
    disabled

on property:sys.lsensortest=1
    start lsensortest

service psensortest /system/vendor/bin/sensors_test p
    user root
    oneshot
    disabled

on property:sys.psensortest=1
    start psensortest

## add for ap diag begin
service hwdiag vendor/bin/hwdiag
    class core
    user root
    seclabel u:r:hwdiag:s0
## add for ap diag end

on boot
    start hwdiag
    chown root root /sys/class/huaqin/interface/hw_info/lcm
    chmod 0666 /sys/class/huaqin/interface/hw_info/lcm
    chown root root /sys/class/graphics/fb0/msm_fb_wpoint
    chmod 0666 /sys/class/graphics/fb0/msm_fb_wpoint
    chown root root /sys/class/graphics/fb0/msm_fb_rpoint
    chmod 0666 /sys/class/graphics/fb0/msm_fb_rpoint
    chown root root /sys/class/graphics/fb0/msm_fb_gpoint
    chmod 0666 /sys/class/graphics/fb0/msm_fb_gpoint
    chown root root /sys/class/graphics/fb0/msm_fb_bpoint
    chmod 0666 /sys/class/graphics/fb0/msm_fb_bpoint
    chown root root /dev/graphics/fb0
    chmod 0666 /dev/graphics/fb0
    chown root root /sys/class/thermal/thermal_zone32/temp
    chmod 0666 /sys/class/thermal/thermal_zone32/temp
    chown root root sys/class/leds/lcd-backlight/brightness
    chmod 0666 sys/class/leds/lcd-backlight/brightness
    chown root root sys/devices/virtual/graphics/fb0/msm_fb_hbm
    chmod 0666 sys/devices/virtual/graphics/fb0/msm_fb_hbm
    chmod 0666 d/regmap/5-0036-lm3697/name
    chmod 0666 sys/class/leds/ktd3137_flash/device/name

# for factory current test --begin
service screentimeout /system/bin/sh /system/vendor/etc/init.qcom.screentimeout.sh
    class main
    user root
    oneshot
    disabled
    seclabel u:r:shell:s0

on property:sys.screentimeout=1
    start screentimeout
# for factory current test --end

# add for huaqin ftm test by panghongbo begin
service redledon /system/vendor/bin/factory_bin r 1
    user system
    oneshot
    disabled

on property:sys.redledon=1
    start redledon

service redledoff /system/vendor/bin/factory_bin r 0
    user system
    oneshot
    disabled

on property:sys.redledoff=1
    start redledoff

service whiteflashon /system/vendor/bin/factory_bin w 1
    user root
    oneshot
    disabled

on property:sys.whiteflashon=1
    start whiteflashon

service whiteflashoff /system/vendor/bin/factory_bin w 0
    user root
    oneshot
    disabled

on property:sys.whiteflashoff=1
    start whiteflashoff
# add for huaqin ftm test by panghongbo end

#add for scancode by chenfei_20190225
service scancode /vendor/bin/scancode_bin qr prop
    class core
    user root
    group root bluetooth system
    oneshot

service maxcurrent_nocall /vendor/bin/scancode_bin m 0
    user root
    oneshot
    disabled
on property:sys.m.incall=0
    start maxcurrent_nocall

service maxcurrent_incall /vendor/bin/scancode_bin m 1
    user root
    oneshot
    disabled
on property:sys.m.incall=1
    start maxcurrent_incall

write /sys/kernel/boot_adsp/boot 1

service checknv /system/bin/checknv
    class late_start
    user root
    oneshot
    seclabel u:r:vendor_init:s0

service openad /system/vendor/bin/displayf_bin s 1
    user root
    group root system graphics
    oneshot
    disabled

on property:sys.hq.ad=1
    start openad

service closead /system/vendor/bin/displayf_bin s 0
    user root
    group root system graphics
    oneshot
    disabled

on property:sys.hq.ad=0
    start closead

service wbrf_service /system/bin/wbrf_bin
    class main
    socket myguard stream 0660 system system
    disabled

service wbrf_service2 /vendor/bin/wbrf_bin2
    class main
    socket myguard2 stream 0660 system system
    disabled

service audioshell_service /vendor/bin/audioshell_service
    oneshot
    disabled

on property:ro.vendor.miui.region=*
    start audioshell_service
