# Copyright (c) 2014, SHARP CORPORATION. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
on init
    write /sys/class/android_usb/android0/f_rndis/wceis 1
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on charger
    setprop sys.usb.config mass_storage

on fs
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root

on boot
    write /sys/class/android_usb/android0/f_rndis/manufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/f_rndis/vendorID 04DD
    write /sys/class/android_usb/android0/f_rndis/wceis 1
    chown fdtp fdtp /dev/ttyGS1
    chown system system /sys/devices/soc/6a00000.ssusb/usb_host_enable

#host-api mkdir
    mkdir /dev/bus 0755
    mkdir /dev/bus/usb 0755

#string descriptor
    write /sys/class/android_usb/android0/iManufacturer "SHARP Corporation"
    write /sys/class/android_usb/android0/iProduct "au SHV34"
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_mass_storage/msc_iInterface "au SHV34 SD Storage"

#class-specific paramater
    write /sys/class/android_usb/android0/f_mass_storage/inquiry_string "SHARP   SHV34 microSD "

# enable qcom usb service
    enable qcom-usb-sh

service qcom-usb-sh /vendor/bin/init.qcom.usb.sh
    class core
    user root
    oneshot
    disabled

service usbmgrinitd /system/bin/usbmgrinitd
    class late_start
    oneshot

on property:vold.encrypt_progress=* && property:sys.usb.config.encrypt_progress=0
    setprop sys.usb.config.encrypt_progress 1

on property:vold.decrypt=trigger_restart_min_framework && property:ro.boot.wakeinfo=64 && property:sys.usb.config.encrypt_progress=0
    start usbmgrinitd

on property:vold.decrypt=trigger_restart_min_framework && property:ro.boot.wakeinfo=68 && property:sys.usb.config.encrypt_progress=0
    start usbmgrinitd

on property:sys.usb.config=ptp
    setprop sys.usb.config ptp,${persist.sys.usb.config.extra}

on property:sys.usb.config=ptp,adb
    setprop sys.usb.config ptp,adb,${persist.sys.usb.config.extra}

on property:sys.usb.config=obex
    setprop sys.usb.config obex,${persist.sys.usb.config.extra}

on property:sys.usb.config=obex,adb
    setprop sys.usb.config obex,adb,${persist.sys.usb.config.extra}

on property:sys.usb.config=rndis
    setprop sys.usb.config rndis,${persist.sys.usb.config.extra}

on property:sys.usb.config=rndis,adb
    setprop sys.usb.config rndis,adb,${persist.sys.usb.config.extra}

on property:sys.usb.config=mass_storage
    setprop sys.usb.config mass_storage,${persist.sys.usb.config.extra}

on property:sys.usb.config=mass_storage,adb
    setprop sys.usb.config mass_storage,adb,${persist.sys.usb.config.extra}

on property:sys.usb.config=acm_smd
    setprop sys.usb.config acm_smd,${persist.sys.usb.config.extra}

on property:sys.usb.config=acm_smd,adb
    setprop sys.usb.config acm_smd,adb,${persist.sys.usb.config.extra}

on property:sys.usb.config=serial_cdev
    setprop sys.usb.config serial_cdev,${persist.sys.usb.config.extra}

on property:sys.usb.config=serial_cdev,adb
    setprop sys.usb.config serial_cdev,adb,${persist.sys.usb.config.extra}

# adb only USB configuration
# This is the fallback configuration if the
# USB manager fails to set a standard configuration
on property:sys.usb.config=adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 4EE7
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp && property:persist.sys.usb.config.extra=none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CA
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/functions mtp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state mtp

on property:sys.usb.config=mtp,adb && property:persist.sys.usb.config.extra=none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CE
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state mtp,adb

on property:sys.usb.config=mtp,adb && property:persist.sys.usb.config.extra=diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CE
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions mtp,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state mtp,adb

on property:sys.usb.config=mtp && property:persist.sys.usb.config.extra=diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CE
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions mtp,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state mtp

on property:sys.usb.config=ptp,none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99C9
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/functions ptp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ptp

on property:sys.usb.config=ptp,adb,none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CD
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/functions ptp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ptp,adb

on property:sys.usb.config=ptp,adb,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CD
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ptp,adb

on property:sys.usb.config=ptp,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CD
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions ptp,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ptp

on property:sys.usb.config=obex,none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 933A
    write /sys/class/android_usb/android0/bDeviceClass 2
    write /sys/class/android_usb/android0/functions obex
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state obex

on property:sys.usb.config=obex,adb,none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 933A
    write /sys/class/android_usb/android0/bDeviceClass 2
    write /sys/class/android_usb/android0/functions obex
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state obex,adb

on property:sys.usb.config=obex,adb,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 933A
    write /sys/class/android_usb/android0/bDeviceClass 2
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state obex,adb

on property:sys.usb.config=obex,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 933A
    write /sys/class/android_usb/android0/bDeviceClass 2
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions obex,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state obex

on property:sys.usb.config=rndis,none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CC
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/functions rndis
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state rndis

on property:sys.usb.config=rndis,adb,none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99D0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/functions rndis,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state rndis,adb

on property:sys.usb.config=rndis,adb,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99D0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state rndis,adb

on property:sys.usb.config=rndis,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99D0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions rndis,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state rndis

on property:sys.usb.config=mass_storage,none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CB
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state mass_storage

on property:sys.usb.config=mass_storage,adb,none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CF
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state mass_storage,adb

on property:sys.usb.config=mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CF
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state mass_storage,adb

on property:sys.usb.config=mass_storage,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04DD
    write /sys/class/android_usb/android0/idProduct 99CF
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state mass_storage


