on boot
    chown system system /proc/AllHWList/emmcinfo
    chown system system /proc/AllHWList/draminfo
    chown system system /proc/AllHWList/dramtest_result
    chmod 664 /proc/AllHWList/emmcinfo
    chmod 664 /proc/AllHWList/draminfo
    chmod 664 /proc/AllHWList/dramtest_result
