on fs
    setprop ro.sf.lcd_density 280
    setprop ro.config.low_ram true
    setprop ro.product.vendor.device E2M
    setprop ro.product.vendor.brand Nokia
    setprop ro.product.vendor.model "Nokia 2.1"
    setprop ro.product.vendor.name Dynamo2_00WW
    setprop ro.product.vendor.manufacturer "HMD Global"
on fs
	setprop ro.vendor.build.fingerprint Nokia/Dynamo2_00WW/E2M:9/PKQ1.181105.001/00WW_1_13F:user/release-keys
