# Copyright (c) 2016, nubia. All rights reserved.
#
# init.nubia.fingerprint.rc
# For fingerprint only


# goodix fingerprint
on post-fs-data
    chown system system /dev/goodix_fp
	chmod 0777 /dev/goodix_fp
    chown system system /dev/goodix_fp_l
	chmod 0777 /dev/goodix_fp_l
    chown system system /dev/goodix_fp_r
	chmod 0777 /dev/goodix_fp_r
	setprop ro.hardware.fingerprint goodix

	
