on fs
    setprop ro.product.vendor.device AOP_sprout
    setprop ro.product.vendor.name Beholder_00EEA
on fs
	setprop ro.vendor.build.fingerprint Nokia/Beholder_00EEA/AOP_sprout:9/PPR1.180610.011/00WW_4_27D:user/release-keys
