# common config for all projects

on early-boot
    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

# usb config
on property:sys.diag.enable=1
    setprop sys.usb.config ${ro.usb.firstboot.config}

on property:ro.boot.adbon=true
    setprop persist.sys.zui.dis_adb_auth true
    setprop persist.sys.usb.config diag,adb

on property:vendor.sys.charging.bl=enable
        write /sys/class/backlight/panel0-backlight/brightness 255

on property:vendor.sys.charging.bl=disable
        write /sys/class/backlight/panel0-backlight/brightness 0

