# add seosors-hal input group for AP senosr,it will override android.hardware.sensors@1.0-service.rc

service vendor.sensors-hal-1-0 /vendor/bin/hw/android.hardware.sensors@1.0-service
    class hal
    user system
    group input system wakelock
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10

