on init
	setprop ro.led.status 1

on boot
	chown system system /sys/class/leds/red/blink
	chown system system /sys/class/leds/green/blink
	chown system system /sys/class/leds/blue/blink
	chown system system /sys/class/leds/red/duty_pcts
	chown system system /sys/class/leds/green/duty_pcts
	chown system system /sys/class/leds/blue/duty_pcts
	chown system system /sys/class/leds/red/ramp_step_ms
	chown system system /sys/class/leds/green/ramp_step_ms
	chown system system /sys/class/leds/blue/ramp_step_ms
