service fqcaudioloopback /vendor/bin/fqcaudioloopback.sh
	user system
	oneshot
	disabled

on property:vendor.sys.fqcaudio=11
	start fqcaudioloopback

on property:vendor.sys.fqcaudio=10
	start fqcaudioloopback

on property:vendor.sys.fqcaudio=21
	start fqcaudioloopback

on property:vendor.sys.fqcaudio=20
	start fqcaudioloopback

on property:vendor.sys.fqcaudio=31
	start fqcaudioloopback

on property:vendor.sys.fqcaudio=30
	start fqcaudioloopback
