# Copyright (c) 2016, nubia. All rights reserved.
#
# init.nubia.fingerprint.rc
# For fingerprint only


#fingerprint
on post-fs-data
	# for silead
    chown system system /dev/silead_fp
    chmod 0660 /dev/silead_fp
    chown system system /dev/spidev1.0
    chmod 0660 /dev/spidev1.0
    chown system system /dev/spidev0.0
    chmod 0660 /dev/spidev0.0
