#common config for all projects.

on init
    chown system system /sys/class/leds/led:rgb_red/brightness
    chmod 0660 /sys/class/leds/led:rgb_red/brightness
    chown system system /sys/class/leds/led:rgb_green/brightness
    chmod 0660 /sys/class/leds/led:rgb_green/brightness
    chown system system /sys/class/leds/led:rgb_blue/brightness
    chmod 0660 /sys/class/leds/led:rgb_blue/brightness
    chown system system /sys/class/leds/led:rgb_blue/blink
    chmod 0660 /sys/class/leds/led:rgb_blue/blink
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/blue/blink
    chmod 666 /sys/class/power_supply/battery/start_game_enabled

on post-fs
    # Set dm-verity property for system partition
    verity_update_state

#modify for enable diag
on property:sys.diag.enable=1
    setprop sys.usb.config ${ro.usb.firstboot.config}

on property:ro.boot.adbon=true
    setprop persist.sys.zui.dis_adb_auth true
    setprop persist.sys.usb.config diag,adb

on property:vendor.sys.charging.bl=enable
	write /sys/class/backlight/panel0-backlight/brightness 50

on property:vendor.sys.charging.bl=disable
	write /sys/class/backlight/panel0-backlight/brightness 0
