on init
   # Change ownership for for HBM feature
   chown system system /sys/class/graphics/fb0/hbm
   # Change ownership for for ACL feature
   chown system system /sys/class/graphics/fb0/acl

on boot

   # Change ownership for vibrator
   chown root mot_mod /sys/bus/i2c/devices/7-005a/reduce

   # Change the ownership of display TE files for tcmds
   chown root mot_tcmd /sys/class/graphics/fb0/te_test
   chown root mot_tcmd /sys/class/graphics/fb0/te_enable
   chown root mot_tcmd /sys/class/graphics/fb0/frame_counter

   # Change ownership and permission for AMPS factory testing
   chown root mot_tcmd /sys/devices/soc/a800000.ssusb/modusb_enable
   chown root mot_tcmd /sys/devices/soc/a800000.ssusb/modusb_protocol

   # in FBE mode, /data is here
   write /sys/block/sdb/queue/read_ahead_kb 512

   # Wifi firmware reload path
   chown wifi wifi /sys/module/wlan/parameters/fwpath


# Set hub drive strength to +5%
on property:ro.bootmode=normal
    write /sys/module/usb3813_hub/parameters/boost_val 3

# Change own to system to allow Runin APK to control charging.
on property:ro.vendor.build.motfactory=1
    chown system system /d/regmap/spmi0-02/address
    chown system system /d/regmap/spmi0-02/count
    chown system system /d/regmap/spmi0-02/data

service vl53l1_daemon /vendor/bin/vl53l1_daemon
    class late_start
    user root
    group root
    socket vl53l1_daemon stream 660 root system

service mmi-laser-sh /vendor/bin/init.mmi.laser.sh
    class core
    user root
    oneshot
