on early-init
    # Create modem FSG mount point
    mkdir /fsg 755 root root

on fs
    # Mount modem FSG partition
    wait /dev/block/bootdevice/by-name/fsg
    mount ext4 /dev/block/bootdevice/by-name/fsg /fsg ro nosuid nodev context=u:object_r:fsg_file:s0
