# Copyright (c) 2013-2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    write /sys/bootprof/bootprof "INIT:early-init"
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules audio_wglink audio_q6_pdr audio_q6_notifier audio_apr audio_adsp_loader audio_q6 audio_native audio_usf audio_pinctrl_wcd audio_swr audio_platform audio_hdmi audio_wcd_spi audio_stub audio_wcd_core audio_wsa881x audio_wcd9360 audio_hdmi audio_cs35l41 audio_tacna_pinctrl audio_tacna_mfd audio_tacna_extcon audio_tacna_gpio audio_tacna_irq audio_tacna_regulator audio_cs48l32 audio_machine_msmnile
    write /proc/sys/kernel/sched_boost 1
    symlink /data/tombstones /tombstones

on init
    write /sys/bootprof/bootprof "INIT:init"
    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 1
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1
    wait /dev/block/platform/soc/1d84000.ufshc
    symlink /dev/block/platform/soc/1d84000.ufshc /dev/block/bootdevice
    #Added by zhangwei4@meizu.com
    write /sys/rstinfo/rstinfo_enable 1
    chown system system /sys/rstinfo/rstinfo_enable
    chown system system /proc/stability/rstinfo_cnt
    chown system system /proc/stability/rstinfo_android_cnt
    chown system system /proc/stability/rootinfo_cnt
    start logd
    start vendor.qseecomd
    start keymaster-4-0
    start keymaster-sb-4-0

# Add a cpuset for the camera daemon
# We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

    # FLyme:chenjianbo add vibrator permession {@
    chmod 0666 /sys/class/meizu/motor/on_off
    chown system system /sys/class/meizu/motor/on_off
    chmod 0660 /sys/class/meizu/motor/set_cspress
    chown system system /sys/class/meizu/motor/set_cspress
    chmod 0660 /sys/class/meizu/motor/set_mback
    chown system system /sys/class/meizu/motor/set_mback
    chmod 0660 /sys/class/meizu/motor/rtp
    chown system system /sys/class/meizu/motor/rtp
    chmod 0660 /sys/class/meizu/motor/set_rtp
    chown system system /sys/class/meizu/motor/set_rtp
    # @}

    #Added by xuewenwang@meizu.com for game vibrator {@
    chown system system /dev/aw8697_haptic
    chmod 0777 /dev/aw8697_haptic
    chown system audio /sys/class/meizu/motor/haptic_audio
    chmod 0660 /sys/class/meizu/motor/haptic_audio
    mkdir /data/awinic 0770 system audio
    #@}


on early-fs
    write /sys/bootprof/bootprof "INIT:start vold"
    start vold

on fs
    write /sys/bootprof/bootprof "INIT:Mount_START"
    start hwservicemanager
    mount_all /vendor/etc/fstab.qcom --early
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    write /sys/bootprof/bootprof "INIT:Mount_END"


on post-fs
    write /sys/bootprof/bootprof "INIT:post-fs"
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    write /dev/ipa 1
# huangxixin@BSP: Disable SPU {
#     start vendor.spdaemon
#     start vendor.sec_nvm
# huangxixin@BSP }

on late-fs
    wait_for_prop hwservicemanager.ready true
    exec_start wait_for_keymaster
    mount_all /vendor/etc/fstab.qcom --late

on post-fs-data
    write /sys/bootprof/bootprof "INIT:post-fs-data"
    mkdir /vendor/data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /data/vendor/hbtp 0750 system system
    mkdir /data/vendor/tloc 0700 system drmrpc
    mkdir /data/vendor/nnhal 0700 system system

#For SRS  wenjun.zhang@BSP
    chown system system /sys/srs/srs_enable
    chmod 0664 /sys/srs/srs_enable
    chown system system /sys/srs/srs_debug
    chmod 0664 /sys/srs/srs_debug
    chown system system /sys/srs/srs_cpulevel
    chmod 0664 /sys/srs/srs_cpulevel
    chown system system /sys/srs/srs_gpulevel
    chmod 0664 /sys/srs/srs_gpulevel
    chown system system /sys/srs/srs_buslevel
    chmod 0664 /sys/srs/srs_buslevel
    chown system system /sys/srs/srs_iolevel
    chmod 0664 /sys/srs/srs_iolevel
    chown system system /sys/srs/srs_memlevel
    chmod 0664 /sys/srs/srs_memlevel

# PA calibration {@
on post-fs-data
    chown system audio /dev/msm_cirrus_playback
    chmod 0660 /dev/msm_cirrus_playback
# @}

#add by xuewenwang@meizu.com for ForceTouch calibration {@
on post-fs-data
    chmod 0666 /dev/ndt
    chmod 0666 /sys/cs_press/cs_press/sleep
    chmod 0666 /sys/cs_press/cs_press/cal_data
    chown system system /dev/ndt
    chown system system /sys/cs_press/cs_press/sleep
    chown system system /sys/cs_press/cs_press/cal_data

#@}

on early-boot
    start vendor.sensors

# for bootprof {@
    chown system system /sys/bootprof/bootprof
    chmod 0220 /sys/bootprof/bootprof
# @}

# For cpusets initialize for Silver Only first and then Silver + Gold
# Silver Only configuration cannot work with 0-7
on boot
    write /sys/bootprof/bootprof "INIT:boot"
    chown system system /sys/kernel/hbtp/display_pwr
    chown system system /sys/kernel/qvr_external_sensor/fd
    start rmt_storage
    start rfs_access
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/audio-app/cpus 1-2
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7

    # Create netmgr recovery folder
    mkdir /data/vendor/netmgr/recovery 0700 radio radio
    chmod 0770 /data/vendor/netmgr/recovery
    write /data/vendor/netmgr/recovery/recovery_info ""
    chown radio radio /data/vendor/netmgr/recovery/recovery_info

# Add a cpuset for the camera daemon
# We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

    #add by zhangwei4@meizu.com
    #chmod&chown rawdump
    chown root system /dev/block/sda23
    chmod 0660 /dev/block/sda23

# Permissions for vibrator {@ liudong1@meizu.com
	chmod 0666 /sys/class/meizu/motor/on_off
	chown system system /sys/class/meizu/motor/on_off
	chmod 0666 /sys/class/meizu/motor/freq
	chown system system /sys/class/meizu/motor/freq
	chmod 0666 /sys/class/meizu/motor/rtp
	chown system system /sys/class/meizu/motor/rtp
	chmod 0666 /sys/class/meizu/motor/set_rtp
	chown system system /sys/class/meizu/motor/set_rtp
	chmod 0666 /sys/class/timed_output/vibrator/enable
	chown system system /sys/class/timed_output/vibrator/enable
	chmod 0666 /sys/class/meizu/motor/proline
	chown system system /sys/class/meizu/motor/proline
	chmod 0666 /sys/class/meizu/motor/set_cspress
	chown system system /sys/class/meizu/motor/set_cspress
	chmod 0666 /sys/class/meizu/motor/set_mback
	chown system system /sys/class/meizu/motor/set_mback
#@}

# Permissions for fast charging, add by huangxiaotao@Sysetm.Settings {@
    chmod 0666 /sys/class/meizu/charger/fastcharging
    chown system system /sys/class/meizu/charger/fastcharging
#@}
# Permissions for charge &battery, add by yangqi@bsp {@
    chmod 0666 /sys/class/meizu/charger/cmd_discharging
    chmod 0666 /sys/class/meizu/charger/board_temp
    chmod 0666 /sys/class/meizu/battery/chg_debug
    chown system system /sys/class/meizu/charger/cmd_discharging
    chown system system /sys/class/meizu/charger/board_temp
    chown system system /sys/class/meizu/battery/chg_debug
#@}

# Permissions for home key pressure, add by huangxiaotao@Sysetm.Settings {@
    chmod 0666  /sys/cs_press/cs_press/sleep
    chown system system  /sys/cs_press/cs_press/sleep
#@}

# Permissions for breath-led {@ liudong1@meizu.com
	chmod 0666 /sys/class/meizu/mx_leds/leds/breath/blink
	chown system system /sys/class/meizu/mx_leds/leds/breath/blink
# @}

# Permissions for flash-led {@ chenshb@meizu.com
	chmod 0666 /sys/class/leds/led:torch_0/brightness
	chown system system /sys/class/leds/led:torch_0/brightness
	chmod 0666 /sys/devices/platform/soc/c440000.qcom,spmi/spmi-0/spmi0-05/c440000.qcom,spmi:qcom,pm8150l@5:qcom,leds@d300/leds/led:torch_0/brightness
	chown system system /sys/devices/platform/soc/c440000.qcom,spmi/spmi-0/spmi0-05/c440000.qcom,spmi:qcom,pm8150l@5:qcom,leds@d300/leds/led:torch_0/brightness
# @}

# Permissions for display add by bsp.yangxiaokun
    chmod 0644 /sys/class/meizu/main_tp/act_mode
    chown system system /sys/class/meizu/main_tp/act_mode

    chmod 0644 /sys/class/meizu/lcm/display/aod2hbm
    chown system system /sys/class/meizu/lcm/display/aod2hbm

    chmod 0644 /sys/class/meizu/lcm/display/fod
    chown system system /sys/class/meizu/lcm/display/fod

    chmod 0644 /sys/class/meizu/lcm/display/hbm
    chown system system /sys/class/meizu/lcm/display/hbm

    chmod 0644 /sys/class/meizu/lcm/display/lut
    chown system system /sys/class/meizu/lcm/display/lut

    chmod 0666 /sys/class/meizu/lcm/display/doze_mode
    chown system system /sys/class/meizu/lcm/display/doze_mode

    chmod 0666 /sys/class/meizu/lcm/display/doze_s2
    chown system system /sys/class/meizu/lcm/display/doze_s2

    chmod 0644 /sys/class/meizu/lcm/display/aod
    chown system system /sys/class/meizu/lcm/display/aod

    chmod 0644 /sys/class/meizu/lcm/display/esd_count
    chown system system /sys/class/meizu/lcm/display/esd_count

    chmod 0644 /sys/class/meizu/lcm/display/scaler_mode
    chown system system /sys/class/meizu/lcm/display/scaler_mode

    chmod 0644 /sys/class/meizu/lcm/display/scaler_show
    chown system system /sys/class/meizu/lcm/display/scaler_show

    chmod 0644 /sys/class/meizu/lcm/display/dimming_speed
    chown system system /sys/class/meizu/lcm/display/dimming_speed

    chmod 0644 sys/class/meizu/lcm/display/DC_Enable
    chown system system sys/class/meizu/lcm/display/DC_Enable

    chmod 0666 /dev/gtp_tools
    chown system system /dev/gtp_tools
#Permissions for gesture {@
    chown system system /sys/class/meizu/tp/gesture_control
    chmod 0660 /sys/class/meizu/tp/gesture_control

# Permissions for mz_rpmb_ctl, add by xiehaocheng@bsp {@
	chown system system /dev/mz_rpmb_ctl
	chmod 0600 /dev/mz_rpmb_ctl
#@}

# Permissions for fingerprint add by huangjinwei@BSP
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp
    chmod 0666 /sys/class/meizu/fp/qos_set
    chown system system /sys/class/meizu/fp/qos_set
    mkdir /data/vendor/gf_data 0766 system system
    mkdir /mnt/vendor/persist/fp_data 0770 system system

#USB controller configuration
    setprop vendor.usb.rndis.func.name "gsi"
    setprop vendor.usb.rmnet.func.name "gsi"
    setprop vendor.usb.rmnet.inst.name "rmnet"
    setprop vendor.usb.dpl.inst.name "dpl"
    setprop vendor.usb.controller a600000.dwc3
    setprop sys.usb.configfs 1

# Add TP interface for game_mode　#861656 {@
        chmod 0666 /sys/class/meizu/main_tp/stabilize
        chown system system /sys/class/meizu/main_tp/stabilize
# @}

on property:vendor.display.lcd_density=560
   setprop dalvik.vm.heapgrowthlimit 256m

on property:vendor.display.lcd_density=640
   setprop dalvik.vm.heapgrowthlimit 512m

on boot && property:persist.vendor.usb.controller.default=*
    setprop vendor.usb.controller ${persist.vendor.usb.controller.default}

on property:vendor.usb.controller=*
    setprop sys.usb.controller ${vendor.usb.controller}

#Load WLAN driver
    insmod /vendor/lib/modules/qca_cld3_wlan.ko

#pd-mapper
service vendor.pd_mapper /vendor/bin/pd-mapper
    class core
    user system
    group system

#Peripheral manager
service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy
    stop vendor.ims_rtp_daemon

on charger
#@disable hvdcp_opti service by yangqi@bsp
#    start vendor.hvdcp_opti
    start vendor.power_off_alarm
    setprop vendor.usb.controller a600000.dwc3
    setprop sys.usb.configfs 1


service vendor.qseecomd /vendor/bin/qseecomd
    class core
    user root
    group root

# huangxixin@BSP: Disable SPU {
# service vendor.spdaemon /vendor/bin/spdaemon
#     class core
#     user system
#     group system
#     shutdown critical
#
# service vendor.sec_nvm /vendor/bin/sec_nvm
#     class core
#     user system
#     group system
# huangxixin@BSP }

service vendor.thermal-engine /vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   socket thermal-send-rule stream 0660 system system
   group root


service vendor.adsprpcd /vendor/bin/adsprpcd
   class main
   user root
   group media

service vendor.adsprpcd_audiopd /vendor/bin/adsprpcd audiopd
   class main
   user media
   group media

service vendor.cdsprpcd /vendor/bin/cdsprpcd
   class main
   user system
   group system

## imsdatadaemon starts with root and UID will be downgraded to SYSTEM.
service vendor.imsqmidaemon /vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag

# imsdatadaemon starts with root and UID will be downgraded to SYSTEM.
service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    disabled

service vendor.mdm_helper /vendor/bin/mdm_helper
    class core
    group system wakelock
    disabled

service vendor.mdm_launcher /vendor/bin/sh /vendor/bin/init.mdm.sh
    class main
    oneshot


service vendor.imsrcsservice /vendor/bin/imsrcsd
    class main
    user system
    group radio diag inet log wakelock

on property:vendor.ims.QMI_DAEMON_STATUS=1
    start vendor.imsdatadaemon

on property:vold.decrypt=trigger_restart_framework
    start cnss_diag

service cnss_diag /system/vendor/bin/cnss_diag -q -f -t HELIUM
    class main
    user system
    group system wifi inet sdcard_rw media_rw diag
    oneshot

service vendor.ims_rtp_daemon /vendor/bin/ims_rtp_daemon
   class main
   user system
   group radio diag inet log

on property:vendor.ims.DATA_DAEMON_STATUS=1
    restart vendor.ims_rtp_daemon

service vendor.energy-awareness /vendor/bin/energy-awareness
    class main
    user system
    group system
    oneshot
#@disable hvdcp_opti service by yangqi@bsp
#service vendor.hvdcp_opti /vendor/bin/hvdcp_opti
#    class main
#    user root
#    group system wakelock

service vendor.tlocd /vendor/bin/tloc_daemon
    class late_start
    user system
    group drmrpc gps net_raw

service smcinvoked /system/bin/smcinvoked
    class main
    user system
    group system

# add by yangqi@meizu.com
service mpower_manager /system/bin/mpower_manager
    class late_start
    user system
    group system sdcard_rw
    seclabel u:r:mpower_manager:s0

# Added by zhangwei4@meizu.com
# device status logger service
service mdevice_manager /system/bin/mdevice_manager
    class late_start
    user system
    group system sdcard_rw
    seclabel u:r:mdevice_manager:s0

# Added by zhangwei4@meizu.com
#BSP: mkelog parser
service mkelog_parser /system/bin/mkelog_parser
    class late_start
    user system
    group system sdcard_rw
    seclabel u:r:mkelog_parser:s0
    oneshot

service vendor.sar_proxy_mgr /vendor/bin/sarproxymgr
    class main
    user radio
    group radio wakelock net_admin
    capabilities BLOCK_SUSPEND
    disabled

on property:ro.boot.baseband=mdm
    start vendor.sar_proxy_mgr

# Voice trigger (ez2control)
on post-fs-data
    mkdir /data/vendor 0771 system system
    mkdir /data/vendor/wolfsonmicro 0751 system system

# Voice trigger (ez2control)
service ez2controld /system/bin/ez2controld
    class main
    user root system
    group root system

# Voice trigger (ez2control)
#service autobingend /system/bin/autobingend
#    class main

